<!DOCTYPE html>
<html>
    <head>
        <title>Issuer App</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
		<a href="/">Index</a>
		</br>
		<a href="/admin/">Administration</a>
		</br>
        <h1>Issuer Test App</h1>
        <hr/>

        <h2 title="transaction test">Transaction POST</h2>
        <form id="transaction_form" method="post" action="/webhook/">

	        {% csrf_token %}

            {% for hidden in transaction_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in transaction_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="do_transaction" value="Run" />
        </form>
		<hr/>

        <h3>Accounts</h3>
        <table>
            <tr>
                <th>id</th>
                <th>card_id</th>
                <th>currency</th>
                <th>amount</th>
                <th>reserved_amount</th>
                <th>transactions</th>
            </tr>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.card_id }}</td>
                    <td>{{ account.currency }}</td>
                    <td>{{ account.amount }}</td>
                    <td>{{ account.get_reserved_amount }}</td>
                    <td>{{ account.transaction_set.all }}</td>
                </tr>
            {% endfor %}
        </table>
		<hr/>

        <h3>Tranfers</h3>
        <table>
            <tr>
                <th>id</th>
                <th>type</th>
                <th>date</th>
                <th>currency</th>
                <th>amount</th>
                <th>revenue</th>
                <th>transactions</th>
            </tr>
            {% for transfer in transfers %}
                <tr>
                    <td>{{ transfer.id }}</td>
                    <td>{{ transfer.type }}</td>
                    <td>{{ transfer.date }}</td>
                    <td>{{ transfer.currency }}</td>
                    <td>{{ transfer.amount }}</td>
                    <td>{{ transfer.revenue }}</td>
                    <td>{{ transfer.transaction_set.all }}</td>
                </tr>
            {% endfor %}
        </table>
		<hr/>

    </body>

</html>